* {
    margin: 0;
    padding: 0;
}

/*Header Styles*/
.start-header-box {
    height: 60px;
    max-width: 100%;
    margin-bottom: 10px;
    background-color: #3D8D7A;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header-box {
    height: 60px;
    max-width: 100%;
    margin-bottom: 10px;
    background-color: #3D8D7A;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.header-text {
    text-align: center;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
}

.header-title {
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav-link {
    padding: 10px;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: #FFFFFF;
}

.active {
    padding: 10px;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    border-bottom: 3px solid #EDEDED;
}

/*Content Styles*/
.main-content {
    text-align: center;
    margin-top: 40px;
    font-family: 'Inter', sans-serif;
}

.action-buttons {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.button {
    padding: 24px 36px;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    color: #000000;
    border-color: #000000;
    background-color: #EDEDED;
}

.small-button {
    padding: 12px 24px;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    color: #000000;
    border-color: #000000;
    background-color: #EDEDED;
}

.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 25px;
}

.profile-select {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 50px;
}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.enter-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 10px;
}

.enter-info-row {
    display: flex;
    align-items: center;
    text-align: right
}

.enter-info-row label {
    width: 90px;
    text-align: left;
    font-weight: bold;
}

/*Picture Styles*/
.customer-pic {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    max-width: 200px;
}

.hawker-pic {
    display: block;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    max-width: 150px;
}

.hawker-stall-pic {
    display: block;
    margin: auto;
    max-width: 300px;
    margin-bottom: 50px;
}

/*Footer Styles*/
.logo {
    display: block;
    margin: auto;
    max-width: 400px;
}

.copyright {
    text-align: center;
    font-family: 'Inter', sans-serif;
    margin-bottom: 20px;
}