* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

/*Header Styles*/
.start-header-box {
    height: 60px;
    max-width: 100%;
    margin-bottom: 10px;
    background-color: #3D8D7A;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header-box {
    height: 60px;
    max-width: 100%;
    margin-bottom: 10px;
    background-color: #3D8D7A;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.header-text {
    text-align: center;
    color: #FFFFFF;
}

.header-title {
    color: #FFFFFF;;
    font-weight: lighter;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav-link {
    padding: 10px;
    text-decoration: none;
    color: #FFFFFF;
}

.active {
    padding: 10px;
    color: #FFFFFF;
    border-bottom: 3px solid #EDEDED;
}

/*Content Styles*/
.main-content {
    text-align: center;
    margin-top: 40px;
}

.action-buttons {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.button {
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
    padding: 10px 25px;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    background-color: #EDEDED;
    margin-bottom: 10px;
}

.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 25px;
}

.profile-select {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 50px;
}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.enter-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 10px;
}

.enter-info-row {
    display: flex;
    align-items: center;
}

.enter-info-row label {
    width: 90px;
    text-align: left;
    font-weight: bold;
}

.enter-info-row input {
    flex: 1;
    padding: 5px;
    background-color: #EDEDED;
    border-width: 1px;
    border-radius: 5px;
}

.account-type {
    display: flex;
    gap: px;
}

.acc-type-choice {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.homepage-header {
    margin-bottom: 15px;
}

.homepage-actions {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 75px;
}

.homepage-card {
    display: flex;
    flex-direction: column;
}

.account-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    margin-bottom: 15px;
    font-size: 18px;
}

.acc-info-row {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.label {
    font-weight: bold;
    min-width: 140px;
    text-align: right;
}

.value {
    min-width: 220px;
    text-align: left;
}

.user-actions {
    margin-top: 40px;
}

/*Picture Styles*/
.center {
    display: block;
    margin: auto;
}

.customer-pic {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    max-width: 200px;
}

.hawker-pic {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    max-width: 150px;
}

.hawker-stall-pic {
    max-width: 300px;
    margin-bottom: 50px;
}

.hawker-stall-pic-homepage {
    max-width: 200px;
}

.iconbox{
  width:120px;
  height:120px;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:70px;
}

.menu-pic {
    max-width: 120px;
}

.chicken-rice-pic {
    max-width: 150px;
}

.profile-pic {
    margin-top: 30px;
    margin-bottom: 20px;
}

.flex-fooditem{
    display: flex;
    flex-grow: 1;
    flex-basis: 20%;
    flex-direction: column;
    text-align: left;
    max-width: 24%;
    background-color: #a3d1c6;
    color: black;
    margin: 0.5%; 
    padding: 8px;
    border: 2px solid #FFFFFF;
    border-radius: 6px;
}

.order-card {
    margin: 30px;
    width: 200px;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 10px;
    background-color: #EDEDED;
}

/*Footer Styles*/
.logo {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
}

.copyright {
    text-align: center;
    margin-bottom: 20px;
}

.footer-adjust {
    margin-top: 150px;
}