* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 60px;
    max-width: 100%;
    margin-bottom: 10px;
    background-color: #3d8d7a;

    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0px 20px;

    text-align: center;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
}

header a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
}

.exit-button{
    padding: 8px 16px;
    margin-left: 20px;
    border: 0px;
    border-radius: 25px;
    background-color: #a3d1c6;
    font-weight: bold;
}

main{
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.welcome-text{
    display: block;
    width: fit-content;
    margin-left: 10px;
    border-bottom: 3px solid #3d8d7a;
    padding: 2px;
}

.choices-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
    margin-top: 20px;
    border: 6px solid #3d8d7a;
    border-radius: 30px;

    background-image: url('../images/hawker-centre-page-bg.jpg');
    background-size: cover;
}

.choices-container button{
    padding: 120px 0px;
    width: 24%;
    margin: 80px 60px;
    border: 0px;
    border-radius: 25px;
    background-color: #a3d1c6;
    font-size: 28px;
    font-weight: bold;
}

@media (max-width: 576px) {
    .choices-container button{
        padding: 50px 0px;
        width: 24%;
        min-width: 128px;
        margin: 120px 10px;
        border: 0px;
        border-radius: 25px;
        background-color: #a3d1c6;
        font-size: 18px;
        font-weight: bold;
    }
}