* {
    margin: 0;
    padding: 0;
}

header{
    height: 60px;
    max-width: 100%;
    background-color: #3d8d7a;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    margin-bottom: 30px;

    text-align: center;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
}

main{
    text-align: center;
    font-family: 'Inter', sans-serif;

    background-image: url('../images/hawker-centre-page-bg.jpg');
    background-size: cover;
    padding-bottom: 20px;
}

h1{
    padding: 60px;
    font-size: 50px;
}

.hc-search-bar{
    display: inline-block;
    border: 1px solid black;
    border-radius: 25px;
    padding: 8px 100px;
    margin-bottom: 30px;
    background-color: lightgray;
    color: #808080;
}

.GO-button{
    display: block;
    padding: 10px 50px;
    margin: 0 auto;
    margin-bottom: 50px;
    border: 0px;
    border-radius: 25px;
    background-color: #3d8d7a;
    color: #FFFFFF;
    font-size: large;
    font-weight: bold;
}

.logo {
    display: block;
    margin: auto;
    margin-top: 18px;
    max-width: 400px;
}

.copyright {
    text-align: center;
    font-family: 'Inter', sans-serif;
}