* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 60px;
    max-width: 100%;
    margin-bottom: 30px;
    background-color: #3d8d7a;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;

    text-align: center;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
}

header a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
}

.exit-button{
    padding: 8px 16px;
    margin-left: 20px;
    border: 0px;
    border-radius: 25px;
    background-color: #a3d1c6;
    font-weight: bold;
}

main{
    text-align: center;
    font-family: 'Inter', sans-serif;

    background-image: url('../images/hawker-centre-page-bg.jpg');
    background-size: cover;
    padding-bottom: 20px;
}

h1{
    padding: 60px;
    font-size: 50px;
}

.hc-search-bar{
    display: inline-block;
    border: 1px solid black;
    border-radius: 25px;
    padding: 8px;
    margin-bottom: 30px;

    min-width: 40%;
    background-color: lightgray;
    color: #808080;
}

.GO-button{
    display: block;
    padding: 10px 50px;
    margin: 0 auto;
    margin-bottom: 50px;
    border: 0px;
    border-radius: 25px;
    background-color: #3d8d7a;
    color: #FFFFFF;
    font-size: large;
    font-weight: bold;
}

.GO-button:hover{
    background-color: #FFFFFF;
    color: #a3d1c6;
}

.logo {
    display: block;
    margin: auto;
    margin-top: 18px;
    max-width: 400px;
}

.copyright {
    text-align: center;
    font-family: 'Inter', sans-serif;
}

@media (max-width: 576px) {
    header{
        margin-bottom: 50px;
    }

    h1{
        font-size: xx-large;
        padding: 50px;
    }

    .hc-search-bar{
        font-size: large;
        padding: 2px 20px;
        margin-bottom: 50px;
    }

    .GO-button{
        margin-bottom: 30px;
    }

    .logo{
        margin-top: 80px;
        max-width: 78%;
    }
}