* {
    margin: 0;
    padding: 0;
}

header{
    height: 60px;
    max-width: 100%;
    margin-bottom: 20px;
    background-color: #3d8d7a;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;

    text-align: center;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
}

.exit-button{
    padding: 8px 16px;
    margin-left: 20px;
    border: 0px;
    border-radius: 25px;
    background-color: #a3d1c6;
    font-weight: bold;
}

main{
    display: flex;

    width: 100%;
    justify-content: center;
    font-family: 'Inter', sans-serif;
}

.ordering-box{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 90%;
    min-height: 360px;
    padding-bottom: 30px;
    margin-bottom: 20px;

    background-color: #3d8d7a;
    border: 6px solid #FFFFFF;
    border-radius: 30px;
    box-shadow: 0px 0px 10px gray;
}

.order-item-block{
    margin-top: 30px;
    padding: 6px;

    width: 90%;
    background-color: #FFFFFF;
    border-radius: 12px;

    box-shadow: 2px 2px 5px black;
}

.size-toggle-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: lightgray;
  padding: 5px;
  margin-top: 6px;
  border-radius: 8px;
}

.quantity{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-top: 6px;
}

.quantity button{
    padding: 2px 6px;
    border: 0px;
    border-radius: 25px;
    background-color: #a3d1c6;
    font-weight: bold;
}

.quantity button:hover{
    background-color: black;
    color: #FFFFFF;
}

.item-price{
    color: #3d8d7a;
    padding: 5px;
    margin-top: 6px;
}

.add-item-button{
    margin-top: 30px;
    padding: 8px 16px;
    border: 0px;
    border-radius: 25px;
    background-color: #a3d1c6;
    box-shadow: 2px 2px 5px black;
    font-weight: bold;
}

.sub-total{
    margin-top: 30px;
    padding: 6px;

    width: 90%;
    background-color: #FFFFFF;
    border-radius: 12px;

    box-shadow: 2px 2px 5px black;
}

.sub-total h3{
    background-color: #a3d1c6;
    color: #FFFFFF;
    padding: 5px;
    border-radius: 8px;
}

.dining-toggle-container{
  display: flex;
  justify-content: space-evenly;
  background-color: lightgray;
  padding: 5px;
  margin-top: 6px;
  border-radius: 8px;
}

.dining-toggle-container label{
    font-weight: bold;
}

.payment-method{
    margin: 30px 0px;
    padding: 6px;

    width: 90%;
    background-color: #FFFFFF;
    border-radius: 12px;

    box-shadow: 2px 2px 5px black;
}

.payment-toggle-container{
  display: flex;
  justify-content: space-evenly;
  background-color: lightgray;
  padding: 5px;
  margin-top: 6px;
  border-radius: 8px;
}

.payment-toggle-container label{
    font-weight: bold;
}

.place-order-button{
    padding: 10px 50px;
    border: 0px;
    border-radius: 25px;
    background-color: #a3d1c6;
    box-shadow: 2px 2px 5px black;
    font-size: large;
    font-weight: bold;
}