* {
    margin: 0;
    padding: 0;
}

header{
    height: 60px;
    max-width: 100%;
    margin-bottom: 30px;
    background-color: #3d8d7a;

    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0px 20px;

    text-align: center;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
}

.exit-button{
    padding: 8px 16px;
    margin-left: 20px;
    border: 0px;
    border-radius: 25px;
    background-color: #a3d1c6;
    font-weight: bold;
}

main{
    display: flex;

    width: 100%;
    justify-content: center;
    font-family: 'Inter', sans-serif;
}

.ordering-box{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 88%;
    height: auto;

    background-color: #3d8d7a;
    border: 6px solid #FFFFFF;
    border-radius: 30px;
    box-shadow: 6px 6px 6px gray;
}

.order-item-block{
    margin: 20px;

    width: 80%;
    background-color: #FFFFFF;
    border-radius: 12px;
}