* {
    margin: 0;
    padding: 0;
}

header{
    height: 60px;
    max-width: 100%;
    margin-bottom: 20px;
    background-color: #3d8d7a;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;

    text-align: center;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
}

.exit-button{
    padding: 8px 16px;
    margin-left: 20px;
    border: 0px;
    border-radius: 25px;
    background-color: #a3d1c6;
    font-weight: bold;
}

main{
    font-family: 'Inter', sans-serif;
}

h2{
    margin: 8px 50px;
}

.queue-dashboard-box{
    display: flex;
    justify-content: space-evenly;

    margin: 0px 50px;
    padding: 0px 50px;
    padding-top: 50px;
    padding-bottom: 20px;
    height: 362px;

    background-color: #3d8d7a;
}

.queue-box{
    border-radius: 12px;
    background-color: #FFFFFF;
}

.queue-box h1{
    margin: 4px;
    padding: 4px;
    min-width: 260px;

    border-radius: 10px;
    background-color: #a3d1c6;
    color: #FFFFFF;
}