* {
    margin: 0;
    padding: 0;
}

header{
    height: 60px;
    max-width: 100%;
    margin-bottom: 30px;
    background-color: #3d8d7a;

    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0px 20px;

    text-align: center;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
}

.exit-button{
    padding: 8px 16px;
    margin-left: 20px;
    border: 0px;
    border-radius: 25px;
    background-color: #a3d1c6;
    font-weight: bold;
}

main{
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

h1{
    margin: 10px 0px;
    font-size: 38px;
}

.queue-number-space{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 60%;
    color: #3d8d7a;
}

.queue-number-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 40px 20px;
    margin: 30px 100px;
    border-radius: 30px;
    max-width: 50%;
    background-color: #a3d1c6;
    color: black;
    box-shadow: 5px 5px 5px gray;
}

.queue-number{
    margin: 28px 0px;
    font-size: 100px;
}

.check-queue-button{
    display: block;
    padding: 10px 50px;
    margin: 0 auto;
    margin-top: 30px;
    border: 0px;
    border-radius: 25px;
    background-color: #3d8d7a;
    color: #FFFFFF;
    box-shadow: 2px 2px 5px black;
    font-size: large;
    font-weight: bold;
}

.order-detail-box{
    width: 380px;
    padding: 0px 12px;
    background-color: #3d8d7a;
    color: #FFFFFF;
}

.order-detail-box h2{
    margin: 10px 0px;
}

.order-detail{
    text-align: start;

    border: 2px solid #FFFFFF;
    border-radius: 12px;
    padding: 8px;
    background-color: #a3d1c6;
    color: black;
}

.order-detail h3{
    border-bottom: 1px solid #FFFFFF;
}

.order-detail .order-item-detail{
    border-bottom: none;
    padding-left: 140px;
    font-weight: normal;
}

.order-detail .order-item-price{
    padding-left: 140px;
    font-weight: normal;
    text-align: end;
}

.cancel-order-button{
    padding: 10px 50px;
    margin: 30px 0px;
    border: 0px;
    border-radius: 25px;
    background-color: #a3d1c6;
    color: black;
    box-shadow: 2px 2px 5px black;
    font-size: large;
    font-weight: bold;
}

@media (max-width: 576px) {    
    h1{
        font-size: 30px;
    }

    .queue-number-box{
        min-width: 60%;
        padding: 20px 20px;
    }

    .queue-number-box h2{
        font-size: large;
    }

    .queue-number-box .queue-number{
        margin: 10px 0px;
        font-size: 68px;
    }

    .check-queue-button{
        padding: 10px 30px;
        margin: 0 auto;
        margin-top: 10px;
    }
}