* {
    margin: 0;
    padding: 0;
}

header{
    height: 60px;
    max-width: 100%;
    margin-bottom: 20px;
    background-color: #3d8d7a;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;

    text-align: center;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
}

.exit-button{
    padding: 8px 16px;
    margin-left: 20px;
    border: 0px;
    border-radius: 25px;
    background-color: #a3d1c6;
    font-weight: bold;
}

main{
    font-family: 'Inter', sans-serif;
}

h2{
    margin: 8px 50px;
}

.queue-dashboard-box{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    margin: 0px 50px;
    padding: 40px 50px;
    min-height: 320px;

    background-color: #3d8d7a;
    border: 6px solid #FFFFFF;
    border-radius: 30px;
    box-shadow: 0px 0px 10px gray;
}

.queue-box{
    width: 28%;

    border-radius: 12px;
    background-color: #FFFFFF;
}

.queue-box h1{
    margin: 4px;
    padding: 4px;

    border-radius: 10px;
    background-color: #a3d1c6;
    color: #FFFFFF;
    word-wrap: break-word;
}

@media (max-width: 576px) {
    .queue-dashboard-box{
        padding: 30px;
    }

    .queue-box{
        width: 100%;
        margin: 6px;
    }

    .queue-box h1{
        font-size: large;
    }
}